@font-face {
  font-family: ShinGoPr5;
  src: url(fonts/A-OTF-ShinGoPr5-Ultra.otf); }

@font-face {
  font-family: ShinGoPr5_Medium;
  src: url(fonts/A-OTF-ShinGoPr5-Medium.otf); }

@font-face {
  font-family: ShinGoPr5_Bold;
  src: url(fonts/A-OTF-ShinGoPr5-Bold.otf); }

@media screen and (min-width: 1201px) {
  .main_visuals {
    height: 640px; }
    .main_visuals .mv_container {
      width: 1024px;
      margin: 0 auto;
      padding-top: 40px; }
      .main_visuals .mv_container .logo {
        margin-bottom: 250px; }
      .main_visuals .mv_container .hero_text {
        color: white;
        text-align: center; }
        .main_visuals .mv_container .hero_text h2 {
          font-size: 45px;
          letter-spacing: 5px;
          font-family: ShinGoPr5_Bold;
          width: 1024px;
          margin: 0 auto;
          letter-spacing: 2px; }
        .main_visuals .mv_container .hero_text h1 {
          width: 1024px;
          margin: 0 auto;
          font-size: 70px;
          font-family: ShinGoPr5;
          letter-spacing: 5px;
          text-align: center;
          line-height: -20px;
          line-height: 80px; }
          .main_visuals .mv_container .hero_text h1 span {
            font-size: 45px;
            letter-spacing: 2px;
            font-family: ShinGoPr5_Bold; }
  .call_action {
    width: 1024px;
    height: 250px;
    text-align: center;
    margin: 50px auto;
    color: white;
    padding-top: 45px;
    background-image: linear-gradient(to right, #164683, #00295c);
    border-radius: 5px; }
    .call_action p {
      width: 450px;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 16px;
      margin: 0 auto;
      line-height: 200%;
      margin-bottom: 20px; }
    .call_action .yellow_btn {
      width: 400px; }
      .call_action .yellow_btn img {
        width: 100%;
        max-width: 400px;
        height: auto; }
  .achive {
    width: 1024px;
    height: 2300px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .achive h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 380px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px; }
    .achive .green-graph,
    .achive .likes_container {
      width: 800px;
      margin: 0 auto;
      margin-bottom: 25px;
      margin-top: 25px; }
      .achive .green-graph img,
      .achive .likes_container img {
        width: 100%;
        max-width: 800px;
        height: auto; }
    .achive .green-graph + p,
    .achive .likes_container + p {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 800px;
      line-height: 40px; }
      .achive .green-graph + p span,
      .achive .likes_container + p span {
        color: #bd2739;
        font-weight: 600; }
    .achive p {
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 16px;
      margin: 0 auto;
      color: #424242; }
    .achive .achive_grid {
      display: grid;
      margin-left: 110px;
      grid-template-columns: 600px 200px; }
      .achive .achive_grid .lapt_img img {
        width: 400px; }
      .achive .achive_grid h3 {
        font-size: 32px;
        width: 360px;
        line-height: 150%;
        letter-spacing: 4px;
        font-family: 'Noto Sans JP', sans-serif;
        margin-bottom: 30px; }
        .achive .achive_grid h3 .blue_text {
          color: #13417c; }
        .achive .achive_grid h3 .red_text {
          color: #bd2739; }
        .achive .achive_grid h3 .line_bg {
          background-image: url("../images/rectangular_line.png");
          background-repeat: no-repeat;
          background-position: bottom left;
          background-size: 80%; }
      .achive .achive_grid h3 + p {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #818181;
        font-size: 14px;
        letter-spacing: 2px; }
      .achive .achive_grid .p_tab {
        line-height: 200%;
        color: #818181;
        font-size: 14px;
        letter-spacing: 2px; }
  .investment {
    width: 1024px;
    height: 1900px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .investment h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 480px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .investment h2 + p {
      width: 800px;
      margin: 30px auto;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 16px; }
    .investment .white-graph {
      width: 800px;
      margin: 0 auto;
      margin-bottom: 80px;
      margin-top: 25px; }
      .investment .white-graph img {
        width: 100%;
        max-width: 800px;
        height: auto; }
    .investment .para_container {
      width: 800px;
      margin: 0 auto; }
      .investment .para_container p {
        margin-top: 15px;
        margin-bottom: 30px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px; }
    .investment .school_serv {
      width: 800px;
      margin: 0 auto; }
      .investment .school_serv .school_logo {
        width: 300px;
        margin: 0 auto; }
        .investment .school_serv .school_logo img {
          width: 100%;
          max-width: 300px;
          height: auto; }
      .investment .school_serv .gallery_pic {
        width: 800px;
        margin: 20px auto 0; }
        .investment .school_serv .gallery_pic img {
          width: 100%;
          max-width: 800px;
          height: auto; }
      .investment .school_serv .gallery_pic + p {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px;
        margin-top: 30px;
        line-height: 200%; }
  .call_action_img {
    width: 1024px;
    height: 700px;
    text-align: center;
    margin: 50px auto;
    color: white;
    padding-top: 50px;
    background-image: linear-gradient(to right, #164683, #00295c);
    border-radius: 5px; }
    .call_action_img p {
      width: 450px;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 20px;
      margin: 0 auto;
      line-height: 200%;
      margin-top: 20px;
      margin-bottom: 20px; }
    .call_action_img .gall_img {
      width: 800px;
      margin: 0 auto;
      text-align: center; }
      .call_action_img .gall_img img {
        width: 100%;
        max-width: 800px;
        height: auto; }
    .call_action_img .yellow_btn {
      width: 400px; }
      .call_action_img .yellow_btn img {
        width: 100%;
        max-width: 400px;
        height: auto; }
  .about {
    width: 1024px;
    height: 1600px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .about h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 770px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .about .inner-01_about {
      height: 400px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 100px;
      margin-bottom: 60px; }
      .about .inner-01_about .text {
        width: 400px;
        margin-left: 90px;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 200%; }
        .about .inner-01_about .text span {
          color: #bd2739; }
      .about .inner-01_about .img_bg {
        background-image: url("../images/lady_des.png");
        background-repeat: no-repeat; }
    .about .checklist {
      width: 700px;
      height: 650px;
      margin: 0 auto;
      display: grid;
      grid-template-rows: repeat(7, 50px);
      grid-row-gap: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 18px; }
      .about .checklist li {
        list-style: none;
        display: grid;
        grid-template-columns: 650px 50px;
        height: 60px;
        padding: 15px;
        background: #f8f8f8;
        box-shadow: 0 2px 2px 1px #ccc; }
        .about .checklist li img {
          width: 60%; }
        .about .checklist li p > span {
          color: #bd2739; }
    .about .checklist + p {
      width: 800px;
      margin: 0 auto;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 18px;
      color: #b1b1b1; }
  .experience {
    width: 1024px;
    height: 1400px;
    background-color: white;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .experience .school_logo {
      width: 300px;
      margin: 30px auto; }
      .experience .school_logo img {
        width: 100%;
        max-width: 300px;
        height: auto; }
    .experience h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 770px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .experience .news_letter {
      width: 700px;
      margin: 0 auto;
      background-color: #f8f8f8;
      padding: 90px;
      box-shadow: 0 3px 2px 1px #ccc;
      margin-bottom: 50px; }
      .experience .news_letter .lable {
        margin-bottom: 10px; }
      .experience .news_letter .lable > span {
        font-size: 12px; }
      .experience .news_letter input {
        width: 500px;
        height: 60px;
        padding-left: 20px;
        margin-bottom: 30px; }
      .experience .news_letter ::placeholder {
        color: #dddddd;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
        /* Firefox */ }
      .experience .news_letter :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #dddddd;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif; }
      .experience .news_letter ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #dddddd;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif; }
      .experience .news_letter p {
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 200%; }
        .experience .news_letter p span {
          color: #bd2739; }
      .experience .news_letter .yellow_btn {
        width: 400px;
        display: block;
        margin: 0 auto;
        margin-top: 30px; }
        .experience .news_letter .yellow_btn img {
          width: 100%;
          max-width: 400px;
          height: auto; }
    .experience .yellow_box {
      width: 700px;
      margin: 0 auto;
      border: 3px solid #ffdb12;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 70px;
      padding-right: 70px; }
      .experience .yellow_box h3 {
        text-align: center;
        font-size: 24px;
        font-family: 'Noto Sans JP', sans-serif;
        color: #13417c;
        margin-bottom: 20px; }
        .experience .yellow_box h3 span {
          font-size: 14px;
          color: #b1b1b1; }
      .experience .yellow_box li {
        margin-bottom: 10px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px; }
  .support {
    width: 1024px;
    height: 750px;
    background-color: white;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .support h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 770px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .support h2 + p {
      font-size: 18px;
      width: 600px;
      margin: 0 auto;
      font-family: 'Noto Sans JP', sans-serif; }
    .support .supp_img {
      width: 800px;
      margin: 30px auto; }
      .support .supp_img img {
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 0 auto; }
    .support .supp_img + p {
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 18px;
      width: 700px;
      margin: 0 auto;
      line-height: 200%; } }

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .main_visuals {
    height: 600px; }
    .main_visuals .mv_container {
      width: 960px;
      margin: 0 auto;
      padding-top: 40px; }
      .main_visuals .mv_container .logo {
        margin-bottom: 250px; }
      .main_visuals .mv_container .hero_text {
        color: white;
        text-align: center; }
        .main_visuals .mv_container .hero_text h2 {
          font-size: 40px;
          letter-spacing: 5px;
          font-family: ShinGoPr5_Bold;
          width: 960px;
          margin: 0 auto;
          letter-spacing: 2px; }
        .main_visuals .mv_container .hero_text h1 {
          width: 960px;
          margin: 0 auto;
          font-size: 65px;
          font-family: ShinGoPr5;
          letter-spacing: 5px;
          text-align: center;
          line-height: -20px;
          line-height: 80px; }
          .main_visuals .mv_container .hero_text h1 span {
            font-size: 40px;
            letter-spacing: 2px;
            font-family: ShinGoPr5_Bold; }
  .call_action {
    width: 900px;
    height: 250px;
    text-align: center;
    margin: 50px auto;
    color: white;
    padding-top: 45px;
    background-image: linear-gradient(to right, #164683, #00295c);
    border-radius: 5px; }
    .call_action p {
      width: 450px;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 16px;
      margin: 0 auto;
      line-height: 200%;
      margin-bottom: 20px; }
    .call_action .yellow_btn {
      width: 400px; }
      .call_action .yellow_btn img {
        width: 100%;
        max-width: 400px;
        height: auto; }
  .achive {
    width: 960px;
    height: 2300px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .achive h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 380px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px; }
    .achive .green-graph,
    .achive .likes_container {
      width: 800px;
      margin: 0 auto;
      margin-bottom: 25px;
      margin-top: 25px; }
      .achive .green-graph img,
      .achive .likes_container img {
        width: 100%;
        max-width: 800px;
        height: auto; }
    .achive .green-graph + p,
    .achive .likes_container + p {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 800px;
      line-height: 40px; }
      .achive .green-graph + p span,
      .achive .likes_container + p span {
        color: #bd2739;
        font-weight: 600; }
    .achive p {
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 16px;
      margin: 0 auto;
      color: #424242; }
    .achive .achive_grid {
      display: grid;
      margin-left: 70px;
      grid-template-columns: 600px 200px; }
      .achive .achive_grid .lapt_img img {
        width: 400px; }
      .achive .achive_grid h3 {
        font-size: 32px;
        width: 360px;
        line-height: 150%;
        letter-spacing: 4px;
        font-family: 'Noto Sans JP', sans-serif;
        margin-bottom: 30px; }
        .achive .achive_grid h3 .blue_text {
          color: #13417c; }
        .achive .achive_grid h3 .red_text {
          color: #bd2739; }
        .achive .achive_grid h3 .line_bg {
          background-image: url("../images/rectangular_line.png");
          background-repeat: no-repeat;
          background-position: bottom left;
          background-size: 80%; }
      .achive .achive_grid h3 + p {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #818181;
        font-size: 14px;
        letter-spacing: 2px; }
      .achive .achive_grid .p_tab {
        line-height: 200%;
        color: #818181;
        font-size: 14px;
        letter-spacing: 2px; }
  .investment {
    width: 960px;
    height: 1900px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .investment h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 480px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .investment h2 + p {
      width: 800px;
      margin: 30px auto;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 16px; }
    .investment .white-graph {
      width: 800px;
      margin: 0 auto;
      margin-bottom: 80px;
      margin-top: 25px; }
      .investment .white-graph img {
        width: 100%;
        max-width: 800px;
        height: auto; }
    .investment .para_container {
      width: 800px;
      margin: 0 auto; }
      .investment .para_container p {
        margin-top: 15px;
        margin-bottom: 30px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px; }
    .investment .school_serv {
      width: 800px;
      margin: 0 auto; }
      .investment .school_serv .school_logo {
        width: 300px;
        margin: 0 auto; }
        .investment .school_serv .school_logo img {
          width: 100%;
          max-width: 300px;
          height: auto; }
      .investment .school_serv .gallery_pic {
        width: 800px;
        margin: 20px auto 0; }
        .investment .school_serv .gallery_pic img {
          width: 100%;
          max-width: 800px;
          height: auto; }
      .investment .school_serv .gallery_pic + p {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px;
        margin-top: 30px;
        line-height: 200%; }
  .call_action_img {
    width: 960px;
    height: 650px;
    text-align: center;
    margin: 50px auto;
    color: white;
    padding-top: 55px;
    background-image: linear-gradient(to right, #164683, #00295c);
    border-radius: 5px; }
    .call_action_img p {
      width: 450px;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 20px;
      margin: 0 auto;
      line-height: 200%;
      margin-top: 20px;
      margin-bottom: 20px; }
    .call_action_img .gall_img {
      width: 700px;
      margin: 0 auto;
      text-align: center; }
      .call_action_img .gall_img img {
        width: 100%;
        max-width: 700px;
        height: auto; }
    .call_action_img .yellow_btn {
      width: 400px; }
      .call_action_img .yellow_btn img {
        width: 100%;
        max-width: 400px;
        height: auto; }
  .about {
    width: 960px;
    height: 1600px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .about h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 770px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .about .inner-01_about {
      height: 400px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 100px;
      margin-bottom: 60px; }
      .about .inner-01_about .text {
        width: 400px;
        margin-left: 90px;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 200%; }
        .about .inner-01_about .text span {
          color: #bd2739; }
      .about .inner-01_about .img_bg {
        background-image: url("../images/lady_des.png");
        background-repeat: no-repeat; }
    .about .checklist {
      width: 700px;
      height: 650px;
      margin: 0 auto;
      display: grid;
      grid-template-rows: repeat(7, 50px);
      grid-row-gap: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 18px; }
      .about .checklist li {
        list-style: none;
        display: grid;
        grid-template-columns: 650px 50px;
        height: 60px;
        padding: 15px;
        background: #f8f8f8;
        box-shadow: 0 2px 2px 1px #ccc; }
        .about .checklist li img {
          width: 60%; }
        .about .checklist li p > span {
          color: #bd2739; }
    .about .checklist + p {
      width: 800px;
      margin: 0 auto;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 18px;
      color: #b1b1b1; }
  .experience {
    width: 960px;
    height: 1400px;
    background-color: white;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .experience .school_logo {
      width: 300px;
      margin: 30px auto; }
      .experience .school_logo img {
        width: 100%;
        max-width: 300px;
        height: auto; }
    .experience h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 770px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .experience .news_letter {
      width: 700px;
      margin: 0 auto;
      background-color: #f8f8f8;
      padding: 90px;
      box-shadow: 0 3px 2px 1px #ccc;
      margin-bottom: 50px; }
      .experience .news_letter .lable {
        margin-bottom: 10px; }
      .experience .news_letter .lable > span {
        font-size: 12px; }
      .experience .news_letter input {
        width: 500px;
        height: 60px;
        padding-left: 20px;
        margin-bottom: 30px; }
      .experience .news_letter ::placeholder {
        color: #dddddd;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
        /* Firefox */ }
      .experience .news_letter :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #dddddd;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif; }
      .experience .news_letter ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #dddddd;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif; }
      .experience .news_letter p {
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 200%; }
        .experience .news_letter p span {
          color: #bd2739; }
      .experience .news_letter .yellow_btn {
        width: 400px;
        display: block;
        margin: 0 auto;
        margin-top: 30px; }
        .experience .news_letter .yellow_btn img {
          width: 100%;
          max-width: 400px;
          height: auto; }
    .experience .yellow_box {
      width: 700px;
      margin: 0 auto;
      border: 3px solid #ffdb12;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 70px;
      padding-right: 70px; }
      .experience .yellow_box h3 {
        text-align: center;
        font-size: 24px;
        font-family: 'Noto Sans JP', sans-serif;
        color: #13417c;
        margin-bottom: 20px; }
        .experience .yellow_box h3 span {
          font-size: 14px;
          color: #b1b1b1; }
      .experience .yellow_box li {
        margin-bottom: 10px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px; }
  .support {
    width: 960px;
    height: 750px;
    background-color: white;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .support h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 770px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .support h2 + p {
      font-size: 18px;
      width: 600px;
      margin: 0 auto;
      font-family: 'Noto Sans JP', sans-serif; }
    .support .supp_img {
      width: 700px;
      margin: 30px auto; }
      .support .supp_img img {
        width: 100%;
        max-width: 700px;
        height: auto;
        margin: 0 auto; }
    .support .supp_img + p {
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 18px;
      width: 700px;
      margin: 0 auto;
      line-height: 200%; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  .main_visuals {
    height: 600px; }
    .main_visuals .mv_container {
      width: 720px;
      margin: 0 auto;
      padding-top: 40px; }
      .main_visuals .mv_container .logo {
        margin-bottom: 250px; }
      .main_visuals .mv_container .hero_text {
        color: white;
        text-align: center; }
        .main_visuals .mv_container .hero_text h2 {
          font-size: 35px;
          letter-spacing: 5px;
          font-family: ShinGoPr5_Bold;
          width: 720px;
          margin: 0 auto;
          letter-spacing: 2px; }
        .main_visuals .mv_container .hero_text h1 {
          width: 720px;
          margin: 0 auto;
          font-size: 50px;
          font-family: ShinGoPr5;
          letter-spacing: 5px;
          text-align: center;
          line-height: -20px;
          line-height: 80px; }
          .main_visuals .mv_container .hero_text h1 span {
            font-size: 35px;
            letter-spacing: 2px;
            font-family: ShinGoPr5_Bold; }
  .call_action {
    width: 700px;
    height: 250px;
    text-align: center;
    margin: 50px auto;
    color: white;
    padding-top: 45px;
    background-image: linear-gradient(to right, #164683, #00295c);
    border-radius: 5px; }
    .call_action p {
      width: 450px;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 16px;
      margin: 0 auto;
      line-height: 200%;
      margin-bottom: 20px; }
    .call_action .yellow_btn {
      width: 400px; }
      .call_action .yellow_btn img {
        width: 100%;
        max-width: 400px;
        height: auto; }
  .achive {
    width: 720px;
    height: 2100px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .achive h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 380px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px; }
    .achive .green-graph,
    .achive .likes_container {
      width: 680px;
      margin: 0 auto;
      margin-bottom: 25px;
      margin-top: 25px; }
      .achive .green-graph img,
      .achive .likes_container img {
        width: 100%;
        max-width: 800px;
        height: auto; }
    .achive .green-graph + p,
    .achive .likes_container + p {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 680px;
      line-height: 40px; }
      .achive .green-graph + p span,
      .achive .likes_container + p span {
        color: #bd2739;
        font-weight: 600; }
    .achive p {
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 16px;
      margin: 0 auto;
      color: #424242; }
    .achive .achive_grid {
      display: grid;
      margin-left: 20px;
      grid-template-columns: 450px 200px; }
      .achive .achive_grid .lapt_img img {
        width: 400px; }
      .achive .achive_grid h3 {
        font-size: 32px;
        width: 360px;
        line-height: 150%;
        letter-spacing: 4px;
        font-family: 'Noto Sans JP', sans-serif;
        margin-bottom: 30px; }
        .achive .achive_grid h3 .blue_text {
          color: #13417c; }
        .achive .achive_grid h3 .red_text {
          color: #bd2739; }
        .achive .achive_grid h3 .line_bg {
          background-image: url("../images/rectangular_line.png");
          background-repeat: no-repeat;
          background-position: bottom left;
          background-size: 80%; }
      .achive .achive_grid h3 + p {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #818181;
        font-size: 14px;
        letter-spacing: 2px; }
      .achive .achive_grid .p_tab {
        line-height: 200%;
        color: #818181;
        font-size: 14px;
        letter-spacing: 2px; }
  .investment {
    width: 720px;
    height: 1700px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .investment h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 480px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .investment h2 + p {
      width: 680px;
      margin: 30px auto;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 16px; }
    .investment .white-graph {
      width: 680px;
      margin: 0 auto;
      margin-bottom: 80px;
      margin-top: 25px; }
      .investment .white-graph img {
        width: 100%;
        max-width: 800px;
        height: auto; }
    .investment .para_container {
      width: 680px;
      margin: 0 auto; }
      .investment .para_container p {
        margin-top: 15px;
        margin-bottom: 30px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px; }
    .investment .school_serv {
      width: 680px;
      margin: 0 auto; }
      .investment .school_serv .school_logo {
        width: 300px;
        margin: 0 auto; }
        .investment .school_serv .school_logo img {
          width: 100%;
          max-width: 300px;
          height: auto; }
      .investment .school_serv .gallery_pic {
        width: 680px;
        margin: 20px auto 0; }
        .investment .school_serv .gallery_pic img {
          width: 100%;
          max-width: 800px;
          height: auto; }
      .investment .school_serv .gallery_pic + p {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px;
        margin-top: 30px;
        line-height: 200%; }
  .call_action_img {
    width: 720px;
    height: 600px;
    text-align: center;
    margin: 50px auto;
    color: white;
    padding-top: 55px;
    background-image: linear-gradient(to right, #164683, #00295c);
    border-radius: 5px; }
    .call_action_img p {
      width: 450px;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 20px;
      margin: 0 auto;
      line-height: 200%;
      margin-top: 20px;
      margin-bottom: 20px; }
    .call_action_img .gall_img {
      width: 600px;
      margin: 0 auto;
      text-align: center; }
      .call_action_img .gall_img img {
        width: 100%;
        max-width: 600px;
        height: auto; }
    .call_action_img .yellow_btn {
      width: 400px; }
      .call_action_img .yellow_btn img {
        width: 100%;
        max-width: 400px;
        height: auto; }
  .about {
    width: 720px;
    height: 1600px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .about h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 700px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .about .inner-01_about {
      height: 400px;
      display: grid;
      grid-template-columns: 350px 400px;
      margin-top: 100px;
      margin-bottom: 60px; }
      .about .inner-01_about .text {
        width: 300px;
        margin-left: 20px;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 200%; }
        .about .inner-01_about .text span {
          color: #bd2739; }
      .about .inner-01_about .img_bg {
        background-image: url("../images/lady_des.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 130%; }
    .about .checklist {
      width: 650px;
      height: 650px;
      margin: 0 auto;
      display: grid;
      grid-template-rows: repeat(7, 50px);
      grid-row-gap: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 18px; }
      .about .checklist li {
        list-style: none;
        display: grid;
        grid-template-columns: 550px 50px;
        height: 60px;
        padding: 15px;
        background: #f8f8f8;
        box-shadow: 0 2px 2px 1px #ccc; }
        .about .checklist li img {
          width: 60%; }
        .about .checklist li p > span {
          color: #bd2739; }
    .about .checklist + p {
      width: 650px;
      margin: 0 auto;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 18px;
      color: #b1b1b1; }
  .experience {
    width: 720px;
    height: 1400px;
    background-color: white;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .experience .school_logo {
      width: 300px;
      margin: 30px auto; }
      .experience .school_logo img {
        width: 100%;
        max-width: 300px;
        height: auto; }
    .experience h2 {
      font-size: 32px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 650px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .experience .news_letter {
      width: 550px;
      margin: 0 auto;
      background-color: #f8f8f8;
      padding: 80px;
      box-shadow: 0 3px 2px 1px #ccc;
      margin-bottom: 50px; }
      .experience .news_letter .lable {
        margin-bottom: 10px; }
      .experience .news_letter .lable > span {
        font-size: 12px; }
      .experience .news_letter input {
        width: 400px;
        height: 60px;
        padding-left: 20px;
        margin-bottom: 30px; }
      .experience .news_letter ::placeholder {
        color: #dddddd;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
        /* Firefox */ }
      .experience .news_letter :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #dddddd;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif; }
      .experience .news_letter ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #dddddd;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif; }
      .experience .news_letter p {
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 200%; }
        .experience .news_letter p span {
          color: #bd2739; }
      .experience .news_letter .yellow_btn {
        width: 400px;
        display: block;
        margin: 0 auto;
        margin-top: 30px; }
        .experience .news_letter .yellow_btn img {
          width: 100%;
          max-width: 400px;
          height: auto; }
    .experience .yellow_box {
      width: 550px;
      margin: 0 auto;
      border: 3px solid #ffdb12;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 50px;
      padding-right: 50px; }
      .experience .yellow_box h3 {
        text-align: center;
        font-size: 24px;
        font-family: 'Noto Sans JP', sans-serif;
        color: #13417c;
        margin-bottom: 20px; }
        .experience .yellow_box h3 span {
          font-size: 14px;
          color: #b1b1b1; }
      .experience .yellow_box li {
        margin-bottom: 10px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px; }
  .support {
    width: 720px;
    height: 750px;
    background-color: white;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .support h2 {
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 770px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .support h2 + p {
      font-size: 18px;
      width: 500px;
      margin: 0 auto;
      font-family: 'Noto Sans JP', sans-serif; }
    .support .supp_img {
      width: 600px;
      margin: 30px auto; }
      .support .supp_img img {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 0 auto; }
    .support .supp_img + p {
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 18px;
      width: 600px;
      margin: 0 auto;
      line-height: 200%; } }

@media screen and (max-width: 500px) {
  .main_visuals {
    height: 600px; }
    .main_visuals .mv_container {
      width: 100%;
      margin: 0 auto;
      padding-top: 30px; }
      .main_visuals .mv_container .logo {
        width: 95%;
        margin: 0 auto 320px; }
      .main_visuals .mv_container .hero_text {
        color: white;
        text-align: center; }
        .main_visuals .mv_container .hero_text h2 {
          font-size: 20px;
          letter-spacing: 5px;
          font-family: ShinGoPr5_Bold;
          width: 100%;
          margin: 0 auto;
          letter-spacing: 1px; }
        .main_visuals .mv_container .hero_text h1 {
          width: 100%;
          margin: 0 auto;
          font-size: 29px;
          font-family: ShinGoPr5;
          text-align: center;
          line-height: 40px; }
          .main_visuals .mv_container .hero_text h1 span {
            font-size: 20px;
            letter-spacing: 1px;
            font-family: ShinGoPr5_Bold; }
  .call_action {
    width: 95%;
    height: 250px;
    text-align: center;
    margin: 50px auto;
    color: white;
    padding-top: 45px;
    background-image: linear-gradient(to right, #164683, #00295c);
    border-radius: 5px; }
    .call_action p {
      width: 90%;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 14px;
      margin: 0 auto;
      line-height: 200%;
      margin-bottom: 20px; }
    .call_action .yellow_btn {
      width: 80%; }
      .call_action .yellow_btn img {
        width: 100%;
        max-width: 320px;
        height: auto; }
  .achive {
    width: 98%;
    height: 1600px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .achive h2 {
      font-size: 32px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 90%;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px; }
    .achive .green-graph,
    .achive .likes_container {
      width: 95%;
      margin: 0 auto;
      margin-bottom: 25px;
      margin-top: 25px; }
      .achive .green-graph img,
      .achive .likes_container img {
        width: 100%;
        max-width: 800px;
        height: auto; }
    .achive .green-graph + p,
    .achive .likes_container + p {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 95%;
      line-height: 40px; }
      .achive .green-graph + p span,
      .achive .likes_container + p span {
        color: #bd2739;
        font-weight: 600; }
    .achive p {
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 14px;
      margin: 0 auto;
      color: #424242; }
    .achive .achive_grid {
      display: grid;
      margin-left: 20px;
      grid-template-columns: 300px 200px; }
      .achive .achive_grid .lapt_img img {
        width: 400px; }
      .achive .achive_grid h3 {
        font-size: 26px;
        width: 320px;
        line-height: 150%;
        letter-spacing: 4px;
        font-family: 'Noto Sans JP', sans-serif;
        margin-bottom: 30px; }
        .achive .achive_grid h3 .blue_text {
          color: #13417c; }
        .achive .achive_grid h3 .red_text {
          color: #bd2739; }
        .achive .achive_grid h3 .line_bg {
          background-image: url("../images/rectangular_line.png");
          background-repeat: no-repeat;
          background-position: bottom left;
          background-size: 80%; }
      .achive .achive_grid h3 + p {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #818181;
        font-size: 12px;
        letter-spacing: 2px; }
      .achive .achive_grid .p_tab {
        line-height: 200%;
        color: #818181;
        font-size: 12px;
        letter-spacing: 2px; }
  .investment {
    width: 95%;
    height: 1200px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .investment h2 {
      font-size: 32px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 95%;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .investment h2 + p {
      width: 90%;
      margin: 30px auto;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 14px; }
    .investment .white-graph {
      width: 90%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 80px;
      margin-top: 25px; }
      .investment .white-graph img {
        width: 100%;
        max-width: 90%;
        height: auto; }
    .investment .para_container {
      width: 90%;
      margin: 0 auto; }
      .investment .para_container p {
        margin-top: 15px;
        margin-bottom: 30px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 14px; }
    .investment .school_serv {
      width: 90%;
      margin: 0 auto; }
      .investment .school_serv .school_logo {
        width: 90%;
        margin: 0 auto;
        text-align: center; }
        .investment .school_serv .school_logo img {
          width: 100%;
          max-width: 60%;
          height: auto; }
      .investment .school_serv .gallery_pic {
        width: 100%;
        text-align: center;
        margin: 20px auto 0; }
        .investment .school_serv .gallery_pic img {
          width: 100%;
          max-width: 100%;
          height: auto; }
      .investment .school_serv .gallery_pic + p {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px;
        margin-top: 30px;
        line-height: 200%; }
  .call_action_img {
    width: 95%;
    height: 450px;
    text-align: center;
    margin: 50px auto;
    color: white;
    padding-top: 55px;
    background-image: linear-gradient(to right, #164683, #00295c);
    border-radius: 5px; }
    .call_action_img p {
      width: 90%;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 16px;
      margin: 0 auto;
      line-height: 200%;
      margin-top: 20px;
      margin-bottom: 20px; }
    .call_action_img .gall_img {
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      .call_action_img .gall_img img {
        width: 100%;
        max-width: 90%;
        height: auto; }
    .call_action_img .yellow_btn {
      width: 90%; }
      .call_action_img .yellow_btn img {
        width: 100%;
        max-width: 90%;
        height: auto; }
  .about {
    width: 95%;
    height: 1650px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .about h2 {
      font-size: 30px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      text-align: center;
      width: 100%;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .about .inner-01_about {
      height: 600px;
      display: grid;
      grid-template-rows: 300px 300px;
      grid-row-gap: 30px;
      margin-top: 100px;
      margin-bottom: 60px; }
      .about .inner-01_about .text {
        width: 300px;
        text-align: center;
        margin-left: 20px;
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 200%;
        grid-row-start: 2;
        grid-row-end: 3; }
        .about .inner-01_about .text span {
          color: #bd2739; }
      .about .inner-01_about .img_bg {
        background-image: url("../images/lady_des.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 130%; }
    .about .checklist {
      width: 90%;
      height: 500px;
      margin: 0 auto;
      display: grid;
      grid-template-rows: repeat(7, 50px);
      grid-row-gap: 20px;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 14px; }
      .about .checklist li {
        list-style: none;
        display: grid;
        grid-template-columns: 90% 10%;
        height: 40px;
        padding: 8px;
        background: #f8f8f8;
        box-shadow: 0 2px 2px 1px #ccc; }
        .about .checklist li img {
          width: 50%; }
        .about .checklist li p > span {
          color: #bd2739; }
    .about .checklist + p {
      width: 95%;
      margin: 0 auto;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 14px;
      color: #b1b1b1; }
  .experience {
    width: 95%;
    height: 1400px;
    background-color: white;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .experience .school_logo {
      width: 250px;
      margin: 30px auto; }
      .experience .school_logo img {
        width: 100%;
        max-width: 250px;
        height: auto; }
    .experience h2 {
      font-size: 32px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 90%;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .experience .news_letter {
      width: 90%;
      margin: 0 auto;
      background-color: #f8f8f8;
      padding: 30px;
      box-shadow: 0 3px 2px 1px #ccc;
      margin-bottom: 50px; }
      .experience .news_letter .lable {
        margin-bottom: 10px; }
      .experience .news_letter .lable > span {
        font-size: 12px; }
      .experience .news_letter input {
        width: 98%;
        height: 60px;
        padding-left: 20px;
        margin-bottom: 30px; }
      .experience .news_letter ::placeholder {
        color: #dddddd;
        font-size: 16px;
        font-family: 'Noto Sans JP', sans-serif;
        /* Firefox */ }
      .experience .news_letter :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #dddddd;
        font-size: 16px;
        font-family: 'Noto Sans JP', sans-serif; }
      .experience .news_letter ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #dddddd;
        font-size: 16px;
        font-family: 'Noto Sans JP', sans-serif; }
      .experience .news_letter p {
        font-size: 16px;
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 200%; }
        .experience .news_letter p span {
          color: #bd2739; }
      .experience .news_letter .yellow_btn {
        width: 95%;
        display: block;
        margin: 0 auto;
        margin-top: 30px; }
        .experience .news_letter .yellow_btn img {
          width: 100%;
          max-width: 95%;
          height: auto; }
    .experience .yellow_box {
      width: 90%;
      margin: 0 auto;
      border: 3px solid #ffdb12;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 40px;
      padding-right: 40px; }
      .experience .yellow_box h3 {
        text-align: center;
        font-size: 24px;
        font-family: 'Noto Sans JP', sans-serif;
        color: #13417c;
        margin-bottom: 20px; }
        .experience .yellow_box h3 span {
          font-size: 14px;
          color: #b1b1b1; }
      .experience .yellow_box li {
        margin-bottom: 10px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 14px; }
  .support {
    width: 95%;
    height: 640px;
    background-color: white;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden; }
    .support h2 {
      font-size: 30px;
      font-family: 'Noto Sans JP', sans-serif;
      color: #13417c;
      width: 98%;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .support h2 + p {
      font-size: 14px;
      width: 90%;
      margin: 0 auto;
      font-family: 'Noto Sans JP', sans-serif; }
    .support .supp_img {
      width: 95%;
      margin: 30px auto; }
      .support .supp_img img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0 auto; }
    .support .supp_img + p {
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 14px;
      width: 90%;
      margin: 0 auto;
      line-height: 200%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: black;
  background-color: #e9e9e9; }

.main_visuals {
  background-image: url(../images/Hero_text.jpg);
  background-size: cover;
  background-position: center; }
